* {
	margin: 0;
}

html {
	margin: 5px;
}

#spectrum {
	position: relative;
}
.spectrum-dot {
	width: 12px;
	height: 12px;
	border: 2px solid white;
	border-radius: 50%;
	position: absolute;
	bottom: 26%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translate(-50%, -50%);
}

.spectrum-dot::before {
	content: '';
	width: 4px;
	height: 4px;
	background-color: white;
	border-radius: 50%;
}

.spectrum-tip {
	visibility: hidden;
	min-width: 100px;
	max-width: 200px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 10px;
	position: absolute;
	z-index: 1;
	bottom: 125%; /* Position the tooltip above the dot */
	opacity: 0;
	transition: opacity 0.3s;
}
.spectrum-dot:hover .spectrum-tip {
	visibility: visible;
	opacity: 1;
}
#rgb-block {
	height: 20px;
	background: black;
}
/* 输入框样式 */
input[type='number'],
input[type='text'] {
	width: 100px;
	padding: 5px;
	margin: 5px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	transition: border-color 0.3s;
}

input[type='number']:focus,
input[type='text']:focus {
	border-color: #66afe9;
	outline: none;
}

/* 按钮样式 */
button {
	background-color: #4caf50;
	color: white;
	padding: 5px 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #45a049;
}

button.delete {
	background-color: #f44336;
}

/* 表格样式 */
.table {
	overflow-x: auto;
}
table {
	width: 100%;
	border-collapse: collapse;
}

table th,
table td {
	padding: 5px;
	border: 1px solid #ddd;
}

table th {
	background-color: #f2f2f2;
	color: #333;
}

table tr:nth-child(even) {
	background-color: #f9f9f9;
}

table tr:hover {
	background-color: #f1f1f1;
}

::-webkit-scrollbar {
	height: 0.25rem;
	width: 0.25rem;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
}
